img.sticky {
  position: -webkit-sticky;
  position: sticky;
  align:right;
  top: 0;
  width: 100px;
  filter: blur(0px);
}
.grid-container {
  margin: 0px 20px 0px 175px;
  display: inline-grid;
  grid-template-columns: 400pt 500px;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 10px;
  }

.sideways {
  grid-row: 1;
  grid-column: 1;
  margin: 0px;
  color: #ff0066;
  writing-mode: vertical-rl;
  font-size: 130px;
  margin: 0px 0px;
  font-family: 'Parisienne', sans-serif;
  }

.bio {
  grid-row: 1;
  grid-column: 2;
  text-align: justify;
  }

.questions {
  text-align: left;
  }

.answers {
  text-align: justify;
  }

a {
  color: #ff0066;
  }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffa6b9;
  color: #f76a92;
  }

h4 {
  color: #ff0066;
}

img {
  filter: blur(5px);
  opacity: 50%;
}

img:hover {
  filter: blur(0px);
  opacity: 100%;
}

mark {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(122, 233, 122, 0.2);
  color: #8baf84;

}
